<div class="navbar">
    <nav>
        <ul>
            <img src="/images/logo.png" width="100px" alt="">
            <li><a href="./">Home</a></li>
            <li><a href="./movies">Show Movies</a></li>
            <li><a href="#">Add a Movie</a></li>
            <li><a href="#">View Tickets</a></li>
        </ul>
    </nav>
</div>